
@page "/index"
@using System.Runtime.InteropServices
@using Microsoft.AspNetCore.Identity

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you  ?" />

<Counter IncrementBy="3"/>
<br/>
<br/><br/>
<p>
    Name: @person.salesPerson
</p>


<p>
    Amount : @person.Amount.ToString("c");
</p>

<p>
   two way binding:  <input type="number" @bind="person.Amount" @bind:event="oninput"/>
</p>



<p>
    
    <label>
        <input type="checkbox" @bind="person.isActive"/>

   </label>

    Is Active: @person.isActive
</p>

<p>
    <label>
        <input type="radio" 
               value="1" 
               name="group" 
               checked="@(selectedGroup == 1)"
               @onclick="@( () => selectedGroup = 1 )"/> 1
    </label>
    
    <label>
        <input type="radio" 
               value="2" 
               name="group" 
               checked="@(selectedGroup == 2)"
               @onclick="@( () => selectedGroup = 2 )"/> 2
    </label>
    selectedGroup : @selectedGroup
</p>

<p>
    <select @bind="selectedLocationId">
        <option value="0"></option>
        @foreach(var loc in person.Locations)
        {
            <option value="@loc.Id"> @loc.City </option>
        }
    </select>
    selectedLocationId : @selectedLocationId
</p>



<p>
    <ul>
        @foreach(var loc in person.Locations)
        {
            <li>@loc.City, @loc.ProvState, @loc.Country </li>
        }
    </ul>
</p>


<p>
    <table class="table">
        @foreach(var loc in person.Locations)
        {
            <tr>
                <td> @loc.Id </td>

                <td> 
                    <input type="text" 
                    class="form-control"
                    @bind=@loc.City 
                    @bind:event = "oninput"/>
                </td>

                <td> 
                    <input type="text" 
                    class="form-control"
                    @bind=@loc.ProvState 
                    @bind:event = "oninput"/>
                </td>

                <td> 
                    <input type="text" 
                    class="form-control"
                    @bind=@loc.Country 
                    @bind:event = "oninput"/>
                </td>

            </tr>
        }
    </table>

</p>



@code
{

    protected override void OnInitialized()
    {
        base.OnInitialized();
        person = new IndexViewModel()
        {
            salesPerson = "Alex",
            Amount = 15000,
            Locations = new List<Location>()
            {
                new Location(){Id=1,City = "Sydney", ProvState = "NSW", Country = "Australia"},
                new Location(){Id=2,City = "Totonto", ProvState = "Ontario", Country = "Canada"}
            }
        };
    }

    IndexViewModel person = null;

    int selectedGroup = 1;
    int selectedLocationId = 0;

    class IndexViewModel
    {
        public string salesPerson { get; set; }
        public double Amount { get; set; }
        public bool isActive { get; set; }
        public List<Location> Locations;
    }

    class Location
    {
        public int Id { get; set; }
        public string City { get; set; }
        public string ProvState { get; set; }
        public string Country { get; set; }

    }



}






