@typeparam TItem

<table class="table is-fullwidth">
    <thead>
        <tr>
            @if(Columns == null || Columns.Count <=0)
            {
                
            }
            else
            {
                //Create header based on column definitions with reflection.
                foreach(var column in Columns)
                {
                                    
                    if(column.Alignment != Alignment.NotSet)
                    {
                        switch(column.Alignment)
                        {
                            case Alignment.Left:
                                <th class="align-left">@column.Caption</th>
                                break;
                            case Alignment.Right:
                                <th class="align-right">@column.Caption</th>
                                break;
                            case Alignment.Center:
                                <th class="align-center">@column.Caption</th>
                                break;
                            case Alignment.NotSet:
                            default:
                                 <th>@column.Caption</th>
                                break;
                        }
                        @*<th align="@column.Alignment.ToString().ToLower()">@column.Caption</th>  *@                 
                    }
                    else
                    {
                         <th> @column.Caption </th>             
                    }                                
                }

            }

        </tr>
    </thead>
    <tbody>
        @foreach(TItem item in DataItems.
                              Skip(Paging.NumOfItemsToSkip(CurrentPageNumber) )
                              .Take(Paging.NumOfItemsToTake(DataItems.Count) )   
                 )
        {
            <tr>
                @foreach (var col in Columns)
                {
                    string rawValue = typeof(TItem).GetProperty(col.DataField).GetValue(item).ToString();

                    // if the format is set
                    @if (!string.IsNullOrWhiteSpace(col.Format) && col.DataType != DataType.NotSet)
                    {

                        string value = string.Empty;

                        switch (col.DataType)
                        {
                            case DataType.Date:
                            case DataType.DateTime:
                                DateTime dtValue = DateTime.Parse(rawValue);
                                value = dtValue.ToString(col.Format);
                                break;
                            case DataType.Boolean:
                                Boolean bValue = bool.Parse(rawValue);
                                value = bValue.ToString();
                                break;
                            case DataType.Currency:
                                double dValue = double.Parse(rawValue);
                                value = Math.Round(dValue, 2).ToString("c");
                                break;
                            default:
                                break;
                        }

                        if (col.Alignment != Alignment.NotSet)
                        {
                            <td align="@col.Alignment.ToString().ToLower()">@value</td>
                        }
                        else
                        {
                            <td> @value  </td>
                        }
                    }
                    else  // if there is no format
                    {
                        if (col.Alignment != Alignment.NotSet)
                        {
                            <td align="@col.Alignment.ToString().ToLower()">@rawValue</td>
                        }
                        else
                        {
                            <td> @rawValue  </td>
                        }
                    }
                }
            </tr>
        }
    </tbody>

</table>

<div class="level">
    <div class="level-left"> </div>
    <div class="level-right">
        <div class="level-item">
            @if(Paging != null && Paging.Enabled)
            {
                    @if(Paging.CustomPager)
                    {
                        @CustomPager
                    }
                    else
                    {
                        <span style="font-size:14px; cursor:pointer" @onclick="GoToPrevPage"> <b> &lt; Previous  </b>  </span>

                        <button class="button"@onclick="GoToPrevPage">Previous</button>

                        <span> &nbsp;&nbsp;  Page @CurrentPageNumber  of @Paging.MaxPageNumber &nbsp;&nbsp; </span>

                        <button class="button"@onclick="GoToNextPage">Next</button>

                        <span style="font-size:14px; cursor:pointer" @onclick="GoToNextPage"> <b> Previous  &gt; </b>  </span>

                    }
            }
        </div>
    </div>
</div>




@code {
    [Parameter]
    public int CurrentPageNumber { get; set; } = 1;



    [Parameter]
    public PagingConfig Paging { get;  set; }

    [Parameter]
    public List<TItem> DataItems{get;set;}


    [Parameter]
    public List<ColumnDefinition> Columns{ get; set; }



    [Parameter]
    public RenderFragment CustomPager { get; set; }



    protected override void OnInitialized()
    {
        base.OnInitialized();

        Initilize();
    }

    private void Initilize()
    { 
        this.Paging = new PagingConfig(this.DataItems.Count,5,true,false);     
    }


    public void GoToPrevPage()
    {
        CurrentPageNumber = Paging.PrevPageNumber(CurrentPageNumber);
    }

    public void GoToNextPage()
    {
        CurrentPageNumber = Paging.NextPageNumber(CurrentPageNumber);
    }

}




