@model P03.DotNetCoreMVC.Utility.Models.CurrentUserCore;
@{
    Layout = "_LayoutDFourthAuthen";
    ViewData["Title"] = "Core DFourthAuthen Login ViewData";
}

    <h1>Core DFourthAuthen Login</h1>


<h2>ViewBag Title: @ViewBag.Title</h2>

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "DFourthAuthen", "",//new { sid = "123", Account = "Eleven" } ??
                FormMethod.Post,false, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>log in with local accounts</h4>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(m=>m.Name, new {@class="col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(m=>m.Name, new {@class="form-control"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m=>m.Password, new {@class="col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.PasswordFor(m=>m.Password, new {@class="form-control"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("CreateCaptchaFile", "CreateCaptchaFile", new {@class="col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.TextBox("captcha", "", new {@class="form-control"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <img alt="Captcha" class="img" onclick="refresh(this)" src="~/DFourthAuthen/CreateCaptchaFile" title="click to refresh">
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="log in" class="btn btn-default">
                        @Html.ValidationMessage("failed")
                    </div>
                </div>

            }
        </section>
    </div>
</div>

<script>
    function refresh(obj) {
        $(obj).attr("src", "/DFourthAuthen/CreateCaptchaResponse?random=" + Math.random());
    }

</script>