
@{
    ViewData["Title"] = "TestOptions";
}

<h1>TestOptions</h1>

<h3>@base.ViewBag.defaultEmailOption.Title</h3>

<h3>@base.ViewBag.defaultEmailOption1.Title </h3>

<h3>
    @base.ViewBag.fromMemoryEmailOption1.Title
</h3>

<h3>
    @base.ViewBag.fromConfigurationEmailOptionNew.Title
</h3>

<h3>
    @base.ViewBag.fromConfigurationEmailOption1.Title
</h3>

<h3>
    base.ViewBag.fromConfigurationEmailOptionNew
    @base.ViewBag.defaultEmailOption2.Title
</h3>

<h3>
    @base.ViewBag.fromMemoryEmailOption2.Title
</h3>

<h3>
    @base.ViewBag.fromConfigurationEmailOption2.Title 
</h3>
